@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.font {
  font-family: "Helvetica", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("../src/font/Helvetica.ttf") format("truetype");
  font-weight: normal;
 
}

.Helvetica {
  font-family: "Helvetica";
}

::-webkit-scrollbar {
  width: 5px;
}
  ::-webkit-scrollbar-track {
  background: #f2f5fc; 
}
  ::-webkit-scrollbar-thumb {
  background: #b6d5ef; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #b6d5ef; 
} 
